<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <nav>
        <a href="/">Volver a inicio</a> 
    </nav>

    <h1>Lógate</h1>
    <form action="/auth/login" method="POST">
        <div>
            <label>
                Email                   
                <input type="email" name="email" placeholder="Pon tu email">
            </label>
        </div>
        <div>
            <label>
                 Contraseña
                 <input type="password" name="password" placeholder="Pon tu contraseña">
            </label> 
        </div>

        <input type="submit" value="Logandome">
    </form>

</body>
</html>







