<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<style>
    h5{
        margin-top: 2px;
        margin-bottom: 0px;
    }
</style>
<body>
   
    <nav>
        <a href="/">Volver a inicio</a>
    </nav>

    <h1>Regśtrate</h1>
    <form action="/auth/register" method="POST">
        <div>
            <label>
                Email
                <input type="email" name="email" placeholder="tu_email@email.com">
            </label>
        </div>
         <div>
            <label>
                ¿Cual quieres que sea tu nombre de usuario?.
                <input type="text" name="name" placeholder="Nombre de usuario">
            </label>
        </div>
        <div>
         <label>
                ¿Cual quieres que sea tu contraseña?
               <h5>Para que sea válida tiene que tener</h5>
               <h5> de 6 a 20 carácteres, una mayúscula, una minúscula y un número</h5>
                <input type="password" name="password" placeholder="Contraseña">
            </label>
        </div>

        <input type="submit" value="Registrarme">
    </form>
</body>
</html>


