<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Inicio</title>
    <style>
        a {
            margin-right: 16px;
        }
    </style>
</head>
<body>
    <nav>
        
        <a href="/auth/login">Login</a>
        <a href="/auth/register">Registro</a>
      
        <a href="/products/products-menu">Ir al menu Productos</a>
        
        <a href="/ingredients">Ir a Ingredientes</a>
    </nav>

    {{#if user}}
        <div>Bienvenido de nuevo, {{user.name}}</div>

        <form action="/auth/logout" method="POST">
            <button type="submit">Deslogate</button>
        </form>
    {{/if}}

    <h1>Inicio</h1>
    <h2>{{ title }}</h2>
</body>
</html>
