<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creacion de ingrediente</title>
   </head>
<body>
    <nav>
        <a href="/">Vuelve a Inicio</a>
        <a href="/ingredients">Ir a ingredientes</a>
    </nav>
    <form action="/ingredients/create" method="POST">
        {{!-- const { type, name, description } = req.body; --}}
        <div>
            <label>
                Tipo
                <input type="text" name="type" placeholder="Tipo">
            </label>
        </div>

        <div>
            <label>
                Nombre
                <input type="text" name="name" placeholder="Nombre">
            </label>
        </div>

        <div>
            <label>
                Descripción
                <input type="text" name="description" placeholder="Descripción">
            </label>
        </div>
       

        <input type="submit" value="Crear ingrediente">
    </form>
</body>
</html>
