<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>{{ingredient.name}}</title>
</head>
<body>

    <nav>
        <a href="/">Volver a inicio</a>
        <a href="/ingredients">Volver a ingredientes</a>
    </nav>
    
    
    {{#if ingredient}}
   
        <h1>{{ingredient.type}}</h1>
        <h3>Nombre: {{ingredient.name}}</h3>
        <h3>Descripcion: {{ingredient.description}}</h3>

        
    {{else}}
        <h4>No encontramos el ingrediente que buscas.</h4>
    {{/if}}
   <form  method="POST" action="/ingredients/{{_id}}" >
            <button type="submit">Borrar ingrediente</button>
    </form>
    <form method="GET" action="/ingredients/create">
        <button type="submit">Crear ingrediente</button>
    </form>
    <form method="PUT" action="/ingredients/modify/{{_id}}">
        <button type="submit">Modificar ingrediente</button>
    </form>
     
</body>
</html>     


      

    


