<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Ingredientes</title>
</head>
<body>

    <nav>
        <a href="/">Volver a inicio</a>
        <a href="/ingredients/create">Crear ingrediente</a>
        
    </nav>
    <h1>Ingredientes mágicos, maravillosos y preciosos</h1>
    <ul>
         <!--{{#each ingredients}}-->
        <li>
            <h2>Tipo: {{type}}</h2>
            <h3>Nombre: {{name}}</h3>
            <h3>Descripción: {{description}}</h3>

            <form method="GET" action="/ingredients/{{_id}}">
                <button type="submit">Ficha de este ingrediente</button>
            </form>
            <form method="PUT" action="/ingredients/{{_id}}">
                <button type="submit">Modificar este ingrediente</button>
            </form>
           
            <form  method="POST" action="/ingredients/{{_id}}" >
                <button type="submit">Borrar ingrediente</button>
            </form>


            <!-- 
            <button href="/ingredients/{{_id}}">Productos con este ingrediente</button>
            <button>Modificar ingrediente</button>
            -->
        </li>
       <!-- {{/each}} -->
    </ul>

</body>
</html> 
            
    