<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/styles/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <nav>
        <a href="/">Vuelve a Inicio</a>
        <a href="/products">Ir a productos</a>
        
    </nav>

    <form class="form" action="/products/create" method="POST" enctype="multipart/form-data">
       <label>
           Tipo 
       <select name="type">
            <option value="Jabón">Jabón</option>
            <option value="Crema">Crema</option>
            <option value="Gel de baño">Gel de baño</option>
            <option value="Gel hidratante">Gel hidratante</option>
            <option value="Bomba de baño">Bomba de baño</option>
            <option value="Champú">Champú</option>
            <option value="Mascarilla pelo">Mascarilla pelo</option>
            <option value="Mascarilla facial">Mascarilla facial</option>
            <option value="Dentifrico">Dentifrico</option>
            <option value="Manteca corporal">Manteca corporal</option>
        </select>
        </label>
        <label>
            Nombre
            <input type="text" name="name" placeholder="nombre">
        </label>
        <label>
        <!-- 
             ¿Es solido este producto?
        <select name="solid">
            <option value=true>Si</option>
            <option value=false>No</option>
        </select>
            
            <label>Si</label>
            <input type="radio" name="solid" value=true>
            <label>No</label>
            <input type="radio" name="solid" value=false>
            -->
         
        </label>
        <label>
            Descripción
        <input type="text" name="description" placeholder="description">
        </label>
        <label>
            Receta
            <input type="text" name="recipe" placeholder="Receta">
        </label>
        <input type="file" name="image">
        

        <input type="submit" value="Crear Producto">
    </form>

</body>
</html>
        
        
        
        

        

        

        {{!-- Cada vez que suba archivo, recordad enctype --}}
    
       
       