<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Menu de productos</title>
</head>
<body>
    <nav>
           <a href="/">Volver al inicio</a>
           
    </nav>    
    {{#if user}}
        <div>Bienvenide de nuevo, {{user.name}}</div>

    {{/if}}  

    <div>
        <a href="/products">Ver todos los productos</a>
    </div> 
    
    <form action="/products/{{option}}" method="GET"></form>
    
    <label>Buscar producto por tipo </label>
           
       <select name="option">
            <option value="Jabón">Jabón</option>
            <option value="Crema">Crema</option>
            <option value="Gel de baño">Gel de baño</option>
            <option value="Gel hidratante">Gel hidratante</option>
            <option value="Bomba de baño">Bomba de baño</option>
            <option value="Champú">Champú</option>
            <option value="Mascarilla pelo">Mascarilla pelo</option>
            <option value="Mascarilla facial">Mascarilla facial</option>
            <option value="Dentifrico">Dentifrico</option>
            <option value="Manteca corporal">Manteca corporal</option>
        </select>
       
           <input type="submit" value="Buscar">
    </form>
</body>
</html>    
        
     

    

    
