<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>{{product.name}}</title>
</head>
<body>

    <nav>
        <a href="/">Volver a inicio</a>
        <a href="/products">Volver a productos</a>
    </nav>
   
    {{#if product}}

            <h2>Tipo: {{product.type}}</h2>
            <h3>Nombre: {{product.name}}</h3>
            <h3>Solido: {{product.solid}}</h3>
            <h3>Ingredientes:</h3>
            {{#each product.ingredients}}
                <h4>Tipo:</h4> 
                    {{type}}
                    {{name}}
                 <h4>Descripción ingrediente:</h4>   
                    {{description}}
                <hr>
            {{/each}}    
               
            <h3>Descripción: {{product.description}} </h3>
            <h3>Receta: {{product.recipe}}</h3>
            {{#if product.image}}
                <img class="img-product" src="{{product.image}}" alt="imagen del producto">
            {{/if}}
    
        {{else}}
            <h4>No encontramos el producto que buscas.</h4>
    {{/if}}
</body>
</html>        
                
                
                
            

   


     

     

    