<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Productos</title>
</head>
<body>

    <nav>
        <a href="/">Volver a inicio</a>
        <a href="/products/products-menu">Volver al menú de productos</a>
        <a href="/products/create">Crear producto</a>
    </nav>
    <h1>Productos</h1>
    <ul>
         <!--{{#each products}}-->
        <li>
            <h2>Tipo: {{type}}</h2>
            <h3>Nombre: {{name}}</h3>
            <h3>Solido: {{solid}}</h3>
            <h3>Ingredientes:</h3>
            {{#each ingredients}}
            <div>{{type}}: {{name}}.</div>
            {{/each}}
            <h3>Descripción: {{description}} </h3>
            <h3>Receta: {{recipe}}</h3>
            {{#if image}}
                    <img class="img-products" src="{{image}}" alt="Imagen del producto {{name}}">
            {{/if}}

            <form method="GET" action="/products/{{_id}}">
            <button type="submit">Ficha de este producto</button>
            </form>
           
            <form  method="POST" action="/products/{{_id}}" >
                <button type="submit">Borrar producto</button>
            </form><div class=""></div>
            <a href="#">Modificar producto</a>
           
        </li>
       <!-- {{/each}} -->
    </ul>

</body>
</html> 
            
    